reconfigurablePetri/schemas/ptnet.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="offset">
	<xs:complexType>
		<xs:attribute name="x" type="xs:decimal"/>
		<xs:attribute name="y" type="xs:decimal"/>
	</xs:complexType>
</xs:element>

<xs:element name="position">
	<xs:complexType>
		<xs:attribute name="x" type="xs:decimal"/>
		<xs:attribute name="y" type="xs:decimal"/>
	</xs:complexType>
</xs:element>

<xs:element name="brush">
        <xs:complexType>
                <xs:attribute name="red" type="xs:decimal"/>
                <xs:attribute name="green" type="xs:decimal"/>
                <xs:attribute name="blue" type="xs:decimal"/>
        </xs:complexType>
</xs:element>

<xs:element name="pen">
        <xs:complexType>
                <xs:attribute name="red" type="xs:decimal"/>
                <xs:attribute name="green" type="xs:decimal"/>
                <xs:attribute name="blue" type="xs:decimal"/>
        </xs:complexType>
</xs:element>

<xs:element name="place">
        <xs:complexType>
                <xs:sequence>
			<xs:element name="name">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="text" type="xs:string"/>
						<xs:element name="graphics"> 
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="offset"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
                        <xs:element name="color" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                            <xs:element ref="brush"/>
                                            <xs:element ref="pen"/>
                                        </xs:sequence>
                                </xs:complexType>
                        </xs:element>
			<xs:element name="toolspecific">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="placeCapacity">
							<xs:complexType>
								<xs:attribute name="capacity" type="xs:decimal"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="tool" type="xs:string"/>
					<xs:attribute name="version" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="graphics">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="position"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="initialMarking">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="text" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
                        <xs:element name="comment"  minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element name="text" type="xs:string"/>
                                                <xs:element name="show" type="xs:string"/>
                                        </xs:sequence>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="port">
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element name="inputPort" type="xs:string"/>
                                                <xs:element name="outputPort" type="xs:string"/>
                                                <xs:element name="isCompoundPort" type="xs:string"/>
                                        </xs:sequence>
                                </xs:complexType>
                        </xs:element>
		</xs:sequence>
                <xs:attribute name="id" type="xs:string"/>
                <xs:attribute name="component_id" type="xs:string"/>
	</xs:complexType>
</xs:element>

<xs:element name="transition">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="name">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="text" type="xs:string"/>
						<xs:element name="graphics" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="offset"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
                        <xs:element name="color" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                            <xs:element ref="brush"/>
                                            <xs:element ref="pen"/>
                                        </xs:sequence>
                                </xs:complexType>
                        </xs:element>
			<xs:element name="toolspecific">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="rotation">
							<xs:complexType>
								<xs:attribute name="degree" type="xs:decimal"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="tool" type="xs:string"/>
					<xs:attribute name="version" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="graphics" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="position" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
                        <xs:element name="function"  minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element name="text" type="xs:string"/>
                                        </xs:sequence>
                                </xs:complexType>
                        </xs:element>
                        <xs:element name="comment"  minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element name="text" type="xs:string"/>
                                                <xs:element name="show" type="xs:string"/>
                                        </xs:sequence>
                                </xs:complexType>
                        </xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
</xs:element>

<xs:element name="arc">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="inscription">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="text" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
                        <xs:element name="expression" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                                <xs:element name="text" type="xs:string"/>
                                        </xs:sequence>
                                </xs:complexType>
                        </xs:element>
			<xs:element name="graphics" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="position" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
                        <xs:element name="color" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                        <xs:sequence>
                                            <xs:element ref="brush"/>
                                            <xs:element ref="pen"/>
                                        </xs:sequence>
                                </xs:complexType>
                        </xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="source" type="xs:string"/>
		<xs:attribute name="target" type="xs:string"/>
	</xs:complexType>
</xs:element>

<xs:element name="connector">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="graphics" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="position" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="source" type="xs:string"/>
		<xs:attribute name="target" type="xs:string"/>
	</xs:complexType>
</xs:element>

<xs:element name="component">
    <xs:complexType>
        <xs:sequence>
			<xs:element name="name">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="text" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="place" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="transition" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="arc" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="step" type="xs:decimal"/>
    </xs:complexType>
</xs:element>

<xs:element name="operation">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="argument" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="portsToMerge" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="port1" type="xs:string"/>
					<xs:attribute name="port2" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="xs:decimal"/>
	</xs:complexType>
</xs:element>

<xs:element name="condition">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="conditionOption" type="xs:decimal"/>
			<xs:element name="monitorFactor" type="xs:string"/>
			<xs:element name="symbol" type="xs:decimal"/>
			<xs:element name="value" type="xs:string"/>
			<xs:element name="rearPart" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="conditionOption" type="xs:decimal"/>
						<xs:element name="monitorFactor" type="xs:string"/>
						<xs:element name="symbol" type="xs:decimal"/>
						<xs:element name="value" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="rule">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="name">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="text" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="comment">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="text" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="orCondition">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="andCondition" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="condition" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="operation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:decimal"/>
	</xs:complexType>
</xs:element>

<xs:element name="pnml">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="net">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="text" type="xs:string"></xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="page" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="text" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element ref="place" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="transition" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="arc" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="connector" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="component" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element ref="rule" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
								<xs:attribute name="id" type="xs:string"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string"/>
					<xs:attribute name="type" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
